<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"></uses-permission>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"></uses-permission>


    <application
        android:name=".applications.GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/calendar_main"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Workout"
        tools:targetApi="31"

        >

<!--        <meta-data-->
<!--            android:name="com.kakao.sdk.AppKey"-->
<!--            android:value="kakaoba8590a27882517a11f7fbc36905436f">-->

<!--        </meta-data>-->

        <activity
            android:name=".activaties.MainActivity"
            >

        </activity>
        <activity
            android:name=".activaties.LoginActivity"
            android:exported="true">


        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

<!--                 Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakaoba8590a27882517a11f7fbc36905436f" />
            </intent-filter>
        </activity>

        <activity android:name=".activaties.JoinActivity"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <service

            android:exported="true"
            android:enabled="true"
            android:name=".services.TimerService"></service>


        <activity android:name=".activaties.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>